{{#if isActive}}
<a href="javascript.void();"{{action 'removeFacetFromQuery' facetValue.label}}><strong>{{facetValue.label}} ({{facetValue.count}})</strong></a>
{{else}}
<a href="javascript.void();"{{action 'addFacetToQuery' facetValue.label}}>{{facetValue.label}} ({{facetValue.count}})</a>
{{/if}}
