{{#if isActive}}
  <span class="facet-label"><a href="javascript.void();"{{action 'removeFacetFromQuery' facetValue.label}}><strong>{{facetValueTranslation}}</strong></a></span> <span class="facet-count">{{facetValue.count}}</span>
{{else}}
  <span class="facet-label"><a href="javascript.void();"{{action 'addFacetToQuery' facetValue.label}}>{{facetValueTranslation}}</a></span> <span class="facet-count">{{facetValue.count}}</span>
{{/if}}
