{{#if isActive}}
<a href="javascript.void();"{{action 'removeFacetFromQuery' facetValue.label}}><strong>{{facetValueTranslation}} ({{facetValue.count}})</strong></a>
{{else}}
<a href="javascript.void();"{{action 'addFacetToQuery' facetValue.label}}>{{facetValueTranslation}} ({{facetValue.count}})</a>
{{/if}}
