
<img src="{{thumbnail}}"/>
<div class="item-info">
<span class="title">{{#link-to 'package.show' package.name titleBinding=package.title}}{{titleFull}}{{/link-to}}</span>
<span class="meta" title="{{package.authors}}">{{package.pubyear}}{{#if package.authors}}, {{package.authors}}{{/if}}</span>
<span class="name">{{package.name}}</span>
{{#if package.highlights}}
  <ul class="list-unstyled highlights">
    {{#each package.highlights as |highlight|}}
      {{highlight-item label=highlight.field value=highlight.highlight}}
    {{/each}}
  </ul>
{{/if}}
<div>
{{#each package.type_of_record as |typeOfRecord|}}
  {{type-of-record typeOfRecord=typeOfRecord}}
{{/each}}
{{#if package.copyrighted}}
  <div class="label label-danger btn-xs">{{t 'post.copyrighted'}}</div>
{{else}}
  <div class="label label-success btn-xs">{{t 'post.notCopyrighted'}}</div>
{{/if}}

</div>
</div>
