	<div class="input-group">
	  {{debounced-input 
    fireAtStart=false
    value=query 
    class="form-control"
    placeholder='Titel, Författare, År ...'
    }}
	  <span class="input-group-btn">
	    <button class="btn btn-default" type="button">Sök</button>
	  </span>
  </div>

{{#if model}}
<table class="table">
	<thead>
		<tr>
			<th>{{t 'post.id'}}</th>
			<th>{{t 'post.title'}}</th>
			<th>{{t 'post.pub_year'}}</th>
			<th>{{t 'post.author'}}</th>
      <th></th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |package|}}
			<tr>
				<td>{{#link-to 'package.show' package.name}}{{package.name}}{{/link-to}}</td>
				<td>{{package.title}}</td>
				<td>{{package.year}}</td>
				<td>{{package.author}}</td>
        <td>
          {{#if package.copyrighted}}
            <div class="label label-danger btn-xs">{{t 'post.copyrighted'}}</div>
          {{else}}
            <div class="label label-success btn-xs">{{t 'post.notCopyrighted'}}</div>
          {{/if}}
        </td>
			</tr>
		{{/each}}
	</tbody>
</table>
{{/if}}
