<div class="container">

  {{#if model.unlocked_until_date}}
  <div class="alert alert-info">
    {{t 'post.unlocked_until'}} {{model.unlocked_until_date}}
  </div>
  {{/if}}


  <div class="row">
    <div class="col-sm-4">
      <img src="{{thumbnail}}" class="img-responsive"/>
    </div>

    <div class="col-sm-8">
      <h1>{{model.title}}</h1>
      {{#if model.sub_title}}
        <h2>{{model.sub_title}}</h2>
      {{/if}}
      <dl class="dl-horizontal">

        {{#if model.name}}
        <dt>{{t 'post.id'}}</dt>
        <dd>{{model.name}}</dd>
        {{/if}}

        {{#if model.author}}
        <dt>{{t 'post.author'}}</dt>
        <dd>{{model.author}}</dd>
        {{/if}}

        {{#if model.publisher}}
        <dt>{{t 'post.publisher'}}</dt>
        <dd>{{model.publisher}}</dd>
        {{/if}}

        {{#if model.year}}
        <dt>{{t 'post.pub_year'}}</dt>
        <dd>{{model.year}}</dd>
        {{/if}}

        {{#if model.language}}
        <dt>{{t 'post.lang'}}</dt>
        <dd>{{translatedLanguage}}</dd>
        {{/if}}

        {{#if model.page_count}}
        <dt>{{t 'post.pages'}}</dt>
        <dd>{{model.page_count}}</dd>
        {{/if}}

        {{#if source_url}}
        <dt>{{t 'post.source'}}</dt>
        <dd><a href={{source_url}} target="_blank">{{t 'post.goto_source'}}</a></dd>
        {{/if}}

        {{#if pdf_links}}
        <dt>{{t 'post.file'}}</dt>
        {{#each pdf_links as |pdf_link|}}
        {{#if model.unlocked}}
        <dd><a href={{pdf_link}} target="_blank">PDF</a></dd>
        {{else}}
        <dd><em>{{t 'post.filesNotAccessible'}}</em></dd>
        {{/if}}
        {{/each}}
        {{/if}}

      </dl>

      {{#if model.copyrighted}}
      {{#if session.isAuthenticated}}
      <h2>{{t 'post.links'}}</h2>
      {{#if model.links}}
      <table class="table">
        <thead>
          <tr>
            <th>{{t 'link.url'}}</th>
            <th>{{t 'link.expireDate'}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each model.links as |link|}}
          <tr>
            <td>{{hostOrigin}}/#/link/{{link.link_hash}}</td>
            <td>{{link.expire_date}}</td>
            <td><button class="btn btn-xs btn-danger" {{action 'deleteDate' link}}>Radera</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}
      <div class="col-xs-12 col-sm-3">
        <div class="input-group">
          {{input value=link_date class="form-control" placeholder="YYYY-MM-DD"}}
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" {{action 'createDate' model.name link_date}}>{{t 'post.create_link'}}</button>
          </span>
        </div>
      </div>

      {{/if}}
      {{/if}}


    </div>
  </div>
</div>
